.section-contact
  position: relative

.contact-container
  bottom: 40%
  left: 50%
  transform: translateX(-50%)
  position: absolute
  width: 100%
  margin-left: 20%

.headline-contact
  text-align: center
  padding-top: 3%
  font-family: Raleway
  font-weight: 100
  font-size: 60px
  text-transform: uppercase
  color: #2e2e2f


.contact-wrapper
  border-radius: 50%
  text-align: center
  height: 200px
  width: 200px
  background-color: #999
  display: inline-block
  margin: 0 auto
  margin: 20px 40px
  &:hover
    transition: all 0.3s ease-in
    background-color: #e38b25
    color: white
  a
    text-decoration: none
    color: #2e2e2f
    &:hover
      transition: all 0.3s ease-in
      color: white
      cursor: pointer
  i
    text-align: center
    top: 50%
    transform: translateY(-50%)
    position: relative

#headline-contact
  animation-delay: 0.3s
#contact1
  animation-delay: 0.7s
#contact2
  animation-delay: 1.1s
#contact3
  animation-delay: 1.5s
#contact4
  animation-delay: 1.9s
